.v-popper--theme-dropdown.v-popper__popper {
  --at-apply: 'bg-transparent backdrop-blur-md rounded-3xl border border-base shadow-2xl';
}
.v-popper--theme-dropdown .v-popper__inner {
  --at-apply: 'bg-transparent text-base border-none shadow-none';
}
.v-popper--theme-dropdown .v-popper__arrow-container {
  display: none;
}
